body {
}

h1 {
	background-color: black;
	font-size: %300;
}

div {
	zoom: 300%;
	background-color: #fdb813;
	max-width: stretch;
	max-height: stretch;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 25px;
}
a {
color: black;
height: 100%;
font-size: 200%;
width: 100%;
display: block;
}
a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

